body{
   font-family: 'newsreader', serif;
  
}

html{
   scroll-behavior: smooth;
   word-wrap: break-word;
}

#header{
    background-color: darkgreen;
    width: 100%;
    margin-top: 0;
    display: flex;
    -webkit-user-select: none;

    margin-bottom: 0;
    
}


#emergencyHeader{
    color: white;
    background-color: #f56042;
    margin-top: -1.0%;
    margin-bottom: 0;
    display: flex;
    /*position: fixed;
    width: 100%;
    margin-left: -1%*/
}

#emergency{
    text-align: center;
    
    font-weight: bold;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-size: 1.5vw;
    margin-top: 0;
    margin-bottom: 0;
    width: 97%;
}

#close1{
    margin-top: auto;
    margin-bottom: auto;
    width: 3%;
    font-size: 1.5vw;
    -webkit-user-select: none;
    transition: 0.5s;
    text-align: center;
}

#close1:hover{
    cursor: pointer;
    transform: rotate(180deg);
    color: black;
    transition: 0.5s;
}

#call1{
    color: white;
}

#headerLinkMain{
    color: white;
    font-size: 2.75vw;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0.2%;
    font-weight: bold;
}

#headerLinkSub{
    color: white;
    margin-top: 0;
    font-size: 1.15vw;
    font-style: italic;
    opacity: 0.8;
    margin-bottom: 0;

}
b{
    color: white;
}

#headerLink{
    color: white;
    text-decoration: none;
}

#headerLinkHolder:hover{
    color: gray;
}

#headerLinkHolder{
    margin-left: 3vw;
    width: 22vw;
    margin-top: auto;
    margin-bottom: auto;
}

.topIndividualLink{

    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 1.8vw;
}

.topIndividualLinkHolder{
    background-color: darkgreen;
    width: 33%;
    padding-bottom: 1%;
    padding-top: 1%;
    text-decoration: none;
    color: white;
    transition: 0.7s;
}

.topIndividualLinkHolder:hover{
    background-color: lightgreen;
    transition: 0.7s;
}

#topLinks{
    
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 33vw;
    width: 40vw;
    display: flex;
}

/*main content starts here*/

#graph1Selection{
   display: flex;
   flex-direction: row;
   margin-left: 5%;
}

.contentImages{
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 5%;
   max-width: 40%;
}

.quiz{
   font-size: 155%;
   text-align: center;
   margin-bottom: 3%;
}

#quizButton{
   font-size: 155%;
   text-align: center;
   background-color: darkgreen;
   color: white;
   padding: 1.5%;
   padding-left: 4%;
   padding-right: 4%;

   margin-left: 44%;
   transition: 0.5s;
}

#quizButton:hover{
   cursor: pointer;
   background-color: lightgreen;
   transition: 0.5s;
}

.imgCaption{
   font-style: italic;
   text-align: center;
   opacity: 0.8;
   font-size: 135%;
   margin-left: 20%;
   margin-right: 20%;
   font-family: 'Source Sans Pro', sans-serif;
   margin-bottom: 2.5%;
}

.content{
   margin-left: 8%;
   /*font-family: 'newsreader', serif;*/
  font-size: 135%;
  line-height: 1.63;
  margin-right: 8%;
  opacity: 1.2;
}

#graph1Left{
   display: flex;
   width: 45%;
   
}

#graph1Right{
   display: flex;
   width: 50%;
  
}

#selectGrade, #selectPrevalence{
   font-size: 1.9vw;
   margin-top: 8%;
   width: auto;
}

#gradeSelection, #prevalenceSelection{
   width: 50%;
   margin-top: 6%;
}

hr{
   margin-left: 30%;
   margin-right: 30%;
   margin-top: 4%;
   margin-bottom: 4%;
}


.grade, .prevalenceOfUse{
   font-size: 1.75vw;
   background-color: white;
   border: 1px solid black;
   width: 75%;
   text-align: center;
   margin-left: 5%;
   -webkit-user-select: none;
   transition: 0.25s;
   margin-top: 0;
   margin-bottom: 0;
   padding-top: 2%;
   padding-bottom: 2%;
}

#main{
   width: 77.5%;
}

b{
   color: black;
}

sup{
   color: darkgreen;
}

sup:hover{
   cursor: pointer;
   text-decoration: underline;
}

#entirePage{
   display: flex;
}

#text{
    color: white;
    font-size: 100px; 
 }
 
 #container{
    position: relative;
    text-align: center;
    z-index: 0;
 }
 

 #authorInfo{
   font-size: 150%;
   /*font-family: 'newsreader', serif;*/
   margin-left: 8%;
}

 #topimage{
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
 }
 
 #title{
    color: white;
    font-size: 475%;
    /*font-family: 'Newsreader', serif;*/
   
    left: 50%;
    top: 20%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 75%;
    font-weight: bold;
 }

 #subtitle{
    color: white;
    font-size: 200%;
    /*font-family: 'Newsreader', serif;*/
    left: 50%;
    top: 55%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 75%;
 }

 #name{
    color: black;
    text-decoration: underline;
    transition: 1s;
 }

 #searchbox{
    display: flex;
    margin-bottom: 3%;
    
 }

 #textStuff{
    margin-left: 1.2%;
 }

 #textChanger{
    margin-left: 8%;
    font-size: 135%;
    margin-bottom: 0;
 }

 .section{
   color : black;

    margin-left: 8%;
    margin-right: 8%;
    font-size: 190%;
    font-weight: bold;
    text-decoration: underline;
    padding-left: 2%;
    border-left: 4px solid green;
    padding-top: 1%;
    padding-bottom: 1%;
 }

 .textSizeOptions{
    border: 1px solid black;
    width: 3%;
    height: 5%;
    margin-bottom: 0;
    display: inline;
    text-decoration: underline;
    margin-right: 1%;
    transition: 0.7s;
    -webkit-user-select: none;
 }

 .textSizeOptions:hover{
    cursor: pointer;
    color: white;
    background-color: green;
    transition: 0.7s;
 }

 #input{
    width: 65%;
 }

 #closemenu{
    color: white;
    font-size: 200%;
    margin-left: 90%;
    
    -webkit-user-select: none;
    transition: 0.3s;
 }

 #closemenu:hover{
   cursor: pointer;
   transition: 0.3s;
 }

 .percentageCharts{
   width: 84%;
   margin-left: 8%;
   display: flex;
   margin-top: 3%;
}

.pieDiv{
   margin-left: 5%;
   margin-right: 5%;
   width: 40%;
}

.pie{
   width: 100%;
   height: auto;
   background-color: #ada999;
   color: white;
   padding-bottom: 0;
   padding-top: 0;
   margin-top: 0;
   margin-bottom: 0;
   border-radius: 50px;
}

.pieText{
   font-size: 200%;
padding-top: 3%;
padding-bottom: 0%;
text-align: right;
color: white;

}


.upArrow{
   font-size: 200%;
   margin-top: 0;
   padding-top: 0;
   padding-bottom: 0;
   margin-bottom: 0;
}

.horizontalGraphCaption{
   font-size: 135%;
  padding-top: 0;
  margin-top: 1%;
   text-align: center;
   opacity: 0.8;
   font-family: 'Source Sans Pro', sans-serif;
   margin-bottom: 5%;
}

.hComponentsHolder{
   margin-left: 10%;
   margin-right: 10%;
   width: 80%;
   height: 40px;
   background-color: grey;
   border: 4px solid black;
   border-bottom: 5.5px solid black;
   display: flex;

}

.hComponents{
   height: 40px;
   border: 1px solid white;
   margin-top: 0;
   padding-top: 0;
   transition: 0.25s;
}

.hComponents:hover{
   padding-top: -3px;
   margin-top:-3px;
   height: 46px;
   transition: 0.25s;
   cursor: pointer;
   
}

.question{
   margin-top: 5%;
   margin-left: 8%;
  
   font-weight: bold;
   font-size: 165%;
}

.hCaption{
   font-size: 120%;
   margin-left: 10%;
   padding:0.5%;
   padding-left: 0.5%;
   padding-right: 0.5%;
   width: auto;
   max-width: 35%;
   text-align: center;
   background-color: whitesmoke;
   border-radius: 10px;
   display: none;
   position: absolute;
}

.indivLegendHolder{
   display: flex;
   margin-top: -1%;
   margin-left: 10%;
}

.indivLegendHolderColor{
   height: 20px;
   width: 20px;
}

.indivLegendHolderContent{
   padding-top: 0;
   margin-top: 0.1%;
   font-size: 125%;
   margin-left: 2%;
}

.legendHolder{
   margin-top: 5%;
}

.quote{
   font-size: 135%;
   background-color: whitesmoke;
   width: 65%;
   padding: 2%;
   text-align: center;
   margin-left: 17.5%;
   line-height: 1.5;
}

@media only screen and (orientation: portrait){/*Making this mobile compatible!*/
   .legendHolder{
      margin-top: 10%;
   }
   .hComponentsHolder{
      margin-left: 5%;
      margin-right: 5%;
      width: 90%;
      height: 30px;
      background-color: grey;
      display: flex;
 
   }

   .hComponents{
      height: 30px;
      border: 1px solid white;
      margin-top: 0;
      padding-top: 0;
      transition: 0.25s;
   }
   
   .hComponents:hover{
      padding-top: -1.5px;
      margin-top:-1.5px;
      height: 33px;
      transition: 0.25s;
      cursor: pointer;
      
   }

   .percentageCharts{
      margin-left: 0%;
      margin-right: 5%;
      width: 95%;
      flex-direction: column;
   }

   .pieDiv{
      margin-left: 5%;
      margin-right: 5%;
      width: 90%;
   }

   .pie{
      font-size: 75%;
   }
   
   .horizontalGraphCaption{
      margin-bottom: 20%;
   }

   #graph1Right, #graph1Left{
      width: 100%;
   }

   #selectGrade, #selectPrevalence{
      font-size: 3.8vw;
      margin-top: 8%;
      width: auto;
   }
   
   #gradeSelection, #prevalenceSelection{
      width: 100%;
      margin-top: 6%;
   }
   
   .grade, .prevalenceOfUse{
      font-size: 3.5vw;
      background-color: white;
      border: 1px solid black;
      width: 75%;
      text-align: center;
      margin-left: 5%;
      -webkit-user-select: none;
      transition: 0.25s;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 2%;
      padding-bottom: 2%;
   }
   .content{
      margin-left: 5%;
      margin-right: 5%;
      line-height: 1.6;
   }
    #authorInfo{
       /*text-align: center;*/
       margin-left: -10%;
       font-size: 1vw;
    }

    #datesUpdated{
       /*text-align: center;*/
       margin-left: -10%;
       font-size: 2vw;
    }

    #textChanger{
       /*text-align: center;*/
      
       font-size: 5vw;
    }

    #entirePage{
       flex-direction: column;
    }
    #title{
       top: 4vw;
       font-size: 7.5vw;
    }

    #subtitle{
       font-size: 4vw;
       top: 19vw;
    }

   #x{
      font-size: 5vw;
      margin-right: 5%;
   }

    #innerNav{
       display: none;
    }

    #navigation{
       display: none;
    }

    #sideCaption{
       display: none;
    }

    #navMenu{
       width: 25%;
       text-align: center;
       border-bottom-right-radius: 15px;
       border-top-right-radius: 15px;
       padding-top: 1%;
       padding-bottom: 1%;
       
    }
    
    #closemenu{
      margin-left: 0.1vw;
      font-size: 5vw;
      font-weight: normal;
    }

    #information{
      font-size: 5vw;
    }

    #call{
       margin-top: 7%;
       margin-bottom: 0;
       font-size: 5vw;
    }

    #close{
      margin-top: 7%;
      margin-bottom: 7%;
      font-size: 5vw;
    }

    #twobtn{
      flex-direction: column;
      width: 100%;
   }

    #main{
       width: 100%;
    }

    .section{
       border-left: 1px solid green;
    }

    .story{
       border-left: 1px dotted green;
    }

    #pContainer{
       height: 50vh;
       width: 85%;
       
       border-left: none;
       display: flex;
       margin-left: 5%;
    }

    #lContainer{
      height: 50vh;
      width: 10%;
      
    }

    #rContainer{
       height: 50vh;
       width: 90%;
       border: 1px solid black;
       display: flex;
       border-right: none;
 
    }

    .hPercentDiv{
       font-size: 4vw;
       border-top: 0.1px solid black;
       text-align: center;
       padding-top: 0.4vh;
       margin-bottom: 0;
       padding-bottom: 0;
    }

    .vGraphBarsCont{
       width: 33.3%;
       height: 50vh;
    }

    .vGraphBarsStats{
       color: white;
       font-size: 4vw;
       padding-bottom: 0;
       margin-bottom: 0;
       padding-top: 1vh;
       text-align: center;
       
    }

    .vGraphBars{
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      padding-bottom: 0;
      margin-bottom: 0;
      transition: 0.5s;
      -webkit-user-select: none;
    }

    #graphTitle{
       font-size: 10%;
    }

    hr{
      margin-left: 20%;
      margin-right: 20%;
      margin-top: 6%;
      margin-bottom: 6%;
   }
   

    
    #graph1{
       width: 90%;
       margin-right: 5%;
       margin-left: 5%;
    }

    .graphBars{
       font-size: 30px;
    }

    #hGraphScale{
       
       margin-left: 13.5%;
       margin-right: 10%;
       display: flex;
    }

    .hDrugNames{
       font-size: 3.5vw;
       text-align: center;  
       margin-top: 5vh;
       padding-top: 0;
       transform: rotate(-45deg);
    }

    .vGraphBars:hover{
      border-top-right-radius: 12px;
      border-top-left-radius: 12px;
      filter: brightness(0.80);
      transition: 0.5s;
      cursor: pointer;
    }

    .pHoverContainer{
       display: flex;
       height: 22.5%;
       background-color: whitesmoke;
    }

    .lHoverContainer{
       height: 25vh;
       border-right: 2px dotted orange;
       width: 50%;
    }

    .rHoverContainer{
       height: 22.5%;
       width: 100%;
    }

    .hoverContainer{
       background-color: whitesmoke;
    }
    
    .pHoverContainerPrevalence{
       font-size: 4vw;
       padding-left: 1vw;
       padding-right: 1vw;
       padding-top: 0;
       margin-top: 0;
       text-align: center;
    }

    .pHoverContainerPercentage{
       font-weight: bold;
       text-align: center;
       text-decoration: underline;
    }

    .topC{
       display: flex;
       height: 3%;
    }

    .pHoverX{
       height: 3%;
       width: 10%;
       padding-top: 0.5vh;
       margin-top: 0;
       padding-right: 3%;
       font-size: 5vw;
       padding-bottom: 0;
       margin-bottom: 0;
       transition: 0.5s;
    }

    .pHoverX:hover{
       color: green;
       cursor: pointer;
       transition: 0.5s;
    }

    .pHoverContainerTitleText{
       height: 3%;
       width: 90%;
       padding-top: 2.5vh;
       padding-left: 12.5%;
       font-size: 6.5vw;
   

    }

    .pHoverContainerPast{
      font-size: 5vw;
      
      padding-top: 0;
      margin-top: 0;
      text-align: center;
    }

    .pHoverContainerYear{
       font-size: 5vw;
      
       text-align: center;
    }

    .pHoverContainerPastPercentage{
       font-size: 5vw;
       font-weight: bold;
       text-decoration: underline;
       text-align: center;
    }

    .pHoverContainerTrend{
       display: none;
    }

    .pHoverContainerBotCaption{
       font-size: 3vw;
       text-align: center;
    }

    .pLine{
       margin-top: 0;
       margin-bottom: 0;
       padding-left: 25%;
       padding-right: 25%;
       padding-top: none;
       padding-bottom: none;
    }

    .pTriangle{
       top: -13%;
       width: 0;
      height: 0;
      border-left: 45px solid transparent;
      border-right: 45px solid transparent;
      margin-left: 32%;
      position: absolute;
      display: none;
    }

   .contentImages{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 3%;
      max-width: 80%;
      margin-left: 10%;
      margin-right: 10%;
   }

   .imgCaption{
      font-style: italic;
      text-align: center;
      opacity: 0.8;
      font-size: 100%;
      margin-left: 10%;
      margin-right: 10%;
   }

   #graph1Selection{
      display: flex;
      flex-direction: column;
   }

   .section{
      color : black;
       /*font-family: 'newsreader', serif;*/
       margin-left: 5%;
       margin-right: 5%;
       font-size: 190%;
       font-weight: bold;
       text-decoration: underline;
       padding-left: 2%;
       border-left: 4px solid green;
       padding-top: 1%;
       padding-bottom: 1%;
    }
 }

 #navMenu{
   width: 22.5%;
   margin-left: 0;
   background-color: darkgreen;
   margin-top: 0;
   position: sticky;
   align-self: flex-start;
   top: 2%;
   border-top-right-radius: 15px;
 }

#information{
   color: white;
   margin-top: 0;
   padding-top: 0;
   margin-left: auto;
   margin-right: auto;
   width: 80%;
   text-align: center;
   font-size: 175%;
   margin-bottom: 1%;
   padding-bottom: 0;
   font-family: 'Source Sans Pro', sans-serif;
}

#x{
   text-align: right;
   font-size: 175%;
   padding: 0;
   margin: 0;
   transition: 1s;
   cursor: pointer;
   color: white;

}

 #navigation{
    color: white;
    font-size: 195%;
    padding-left: 10%;
    padding-top: 1%;
    margin-bottom: 5%;
    margin-top: 0;
 }

 .navLink{ /*accomodate for screen height!*/
   display: flex;
    color: darkgreen;
    -webkit-user-select: none;
    background-color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 3.9%;
    padding-top: 3.9%;
    padding-left: 8%;
    padding-right: 0;
    margin-right: 0;
    font-size: 125%;
    
    transition: 0.4s;
    margin-right: 0;
 }

 .newNavLink{
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
    width: 80%;
 }

 .arrow{
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0;
    padding-right: 0;
    margin-left: 4%;
    font-size: 85%;
    display: none;
 }


 #sideCaption{
    color: white;
    margin-left: 10%;
    margin-right: 10%;
 }

 

 .navLink:hover{
    background-color: #bddbc5;
    cursor: pointer;

    
    transition: 0.4s;
 }
 

 

 li{
   list-style-type: circle;
   /*font-family: 'newsreader', serif;*/
   font-size: 135%;
   line-height: 1.63;

   margin-right: 8%;
   margin-left: 10.5%;

   
 }

 /*#header{
    display: flex;
    background-color: #42c2f5;
    position: absolute;
    width: 100%;
    top: -100%;
    z-index: 1;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

 }

 #headertext{
    margin-left: 5%;
    font-size: 163%;
    color: white;
 }

 #call{
    color: white;
    text-decoration: underline;
    transition: 1.5s;
    
 }

 #call:hover{
    transition: 1.5s;
    color: grey;
    
 }

 #x{
 
    margin-left: 26%;
    font-size: 163%;
    color: white;
    -webkit-user-select: none;
    transition: 1s;
    cursor: pointer;


 }

 #x:hover{
   transform: rotate(-90deg);
   transition: 1s;
   color: black;
 }*/

 #text{
    color: black;
    font-size: 150%;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
    margin-bottom: 5%;
    /*font-family: 'newsreader', serif;*/
 }

 .story{
    font-style: italic;
    /*font-family: 'newsreader', serif;*/
   font-size: 125%;
   margin-left: 8%;
   margin-right: 8%;
   background-color: whitesmoke;
   border-left: 2px dotted green;
   padding-left: 4%;
   padding-top: 3%;
   padding-bottom: 3%;
   padding-right: 3%;
   line-height: 1.4;
   margin-bottom: 3%;
   font-family: 'Source Sans Pro', sans-serif;
   
 }

 #popup{
    position: absolute;
    padding: 1%;
    background-color: orange;
    border-radius: 20px;
    width: 60%;
    height: auto;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: none;
    
 }

 #phone{
    color: white;
    transition: 0.5s;
    font-family: 'Source Sans Pro', sans-serif;
 }

 #phone:hover{
    color: green;
    transition: 0.5s;
 }

 #x:hover{
   transition: 1s;
   color: black;
 }

 #twobtn{
    display: flex;
    padding-top: 0;
    margin-top: 0;
    color: white;
    font-size: 150%;
    font-family: 'Newsreader', serif;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    font-family: 'Source Sans Pro', sans-serif;
 }

 #call{
   padding: 3%;
   padding-left: 6%;
   padding-right: 6%;
   color: white;
   text-decoration: none;
   background-color: #1d852d;
   border: 2px solid #1d852d;
   height: 10%;
   margin-left: auto;
   margin-right: auto;
   border-radius: 10px;
   -webkit-user-select: none;
   cursor: pointer;
   transition: 0.5s;
   font-family: 'Source Sans Pro', sans-serif;
 }

 #call:hover{
   border-radius: 10px;
   color: #1d852d;
   background-color: whitesmoke;
   border: 2px solid #1d852d;
   transition: 0.5s;
 }

 #close{
   padding: 3%;
   padding-left: 6%;
   padding-right: 6%;
   color: white;
   text-decoration: none;
   background-color: #ff8800;
   border: 2px solid #ff8800;
   height: 10%;
   margin-left: auto;
   margin-right: auto;
   border-radius: 10px;
   -webkit-user-select: none;
   cursor: pointer;
   transition: 0.5s;
   font-family: 'Source Sans Pro', sans-serif;
 }

 #close:hover{
   border-radius: 10px;
   color: #ff8800;
   background-color: whitesmoke;
   border: 2px solid #ff8800;
   transition: 0.5s;
 }


 #datesUpdated{
   /*font-family: 'newsreader', serif;*/
   font-size: 125%;
   margin-left: 8%;
 }

 #name:hover{
    color: green;
    transition: 1s;
 }

 #topline{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2.5%;
 }

#cite{
   padding: 1%;
   border-radius: 20px;
   color: white;
   font-size: 150%;
   background-color: #1d852d;
   width: 20%;
   -webkit-user-select: none;
   margin-left: 40%;
   cursor: pointer;
   /*font-family: 'newsreader', serif;*/
   text-align: center;
   transition: 0.5s;
   border: 3px solid #1d852d;
   text-decoration: none;
   
   
}

#cite:hover{
   color: #1d852d;
   background-color: white;
   border: 3px solid #1d852d;
   transition: 0.5s;
}

.indivCitation{
   font-size: 150%;
   padding: 0;
   margin: 0;
   /*font-family: 'newsreader', serif;*/
   padding-top: 0.3%;
   padding-bottom: 0.3%;
}

#citeInfo{
   margin-top: 5%;
   margin-left: 10%;
   padding-left: 3%;
   padding-top: 1.5%;
   padding-bottom: 1.5%;
   background-color: whitesmoke;
   border-left: 3px solid #8c8c8c;
   display: none;
   margin-right: 10%;
}

#source{
   font-size: 135%;
   margin-top: 0;
   padding-top: 0;
   margin-left: 8%;
   color: black;
   /*font-family: 'newsreader', serif;*/
}

.links{
   color: #1d852d;
   transition: 0.5s;
   /*font-family: 'newsreader', serif;*/
}

.links:hover{
   color: blue;
   transition: 0.5s;
}

#graph1{
   
   font-size:175%;
   margin-left: 8%;
   margin-right: 8%;
   border-left: 4px solid #656966;
   background-color: whitesmoke;
   
   margin-top: 3%;
   height: auto;
}

#graphTitle{
   font-size: 87.5%;
   margin-left: 5%;
   word-wrap: break-word;
}
#caption{
   margin-left: 5%;
   font-size: 60%;

   margin-bottom: 4%;
   /*font-family: 'newsreader', serif;*/
   margin-right: 5%;
}

.container{
   display: flex;
   margin-top: 0.5%;
   margin-bottom: 0.5%;;
}

.graphText{
   width: 15%;
   padding: 1%;
   /*border-right: 1px solid black;*/
   text-align: right;
   color: darkslategrey;
   font-style: italic;
   -webkit-user-select: none;
   font-size: 80%;
   /*font-family: 'newsreader', serif;*/
}

.graphBars{
   margin-left: 1.25%;
   max-width: 72.5%;
   border-top-right-radius: 7.5px;
   border-bottom-right-radius: 7.5px;
   font-size: 100%;
   transition: 0.25s;
   text-align: right;
   color: white;
   /*font-family: 'newsreader', serif;*/
   padding-top: 1.05%;
   padding-right: 1.5%;
   -webkit-user-select: none;
   
}
 
.graphBars:hover{
   filter: brightness(85%);
   transition: 0.25s;
   cursor: pointer;
}

#graphScale{
   border-top: 6px solid black;
   margin-top: 1%;
   margin-left: 18.25%;
   width: 72.5%;
   display: flex;
   
}

.percentDiv{
   border-left: 3px solid black;
   border-top: 1px solid black;
   font-size: 60%;
   padding-left: 0.5%;
   padding-top: 0.5%;
   margin-bottom: 2%;
   -webkit-user-select: none;
   /*font-family: 'newsreader', serif;*/
   /*titanic: float;*/
}

#disclaimer{
   margin-left: 10%;
   font-size: 75%;
   /*font-family: 'newsreader', serif;*/
   color: black;
   /*font-style: italic;*/
   margin-top: 3%;
   padding-bottom: 3%;
   margin-right: 10%;
}

/*hover popups*/
.hoverContainer{
   width: 22.5%;
   height: auto;
   border: 2px solid black;
   border-radius: 15px;
   /*font-family: 'newsreader', serif;*/
   display: none;
   position: absolute;
   
}

.hoverX{
   text-align: right;
   margin-right: 3%;
   -webkit-user-select: none;
   padding-top: 0;
   margin-top: 0;
   padding-bottom: 0;
   margin-bottom: 0;
   color: black;
   transition: 0.5s;
}

.hoverX:hover{
   color: green;
   transition: 0.5s;
   cursor: pointer;
   
}

.hoverContainerTitleText{
   font-weight: bold;
   font-size: 115%;
   text-align: center;
   margin-top: 2%;
}

.hoverContainerPrevalence{
   margin-top: 4%;
   padding-top: 0;
   font-size: 90%;
   text-align: center;
   margin-bottom: 1%;
}

.hoverContainerPercentage{
   font-weight: bold;
   text-decoration: underline;
   font-size: 100%;
   margin-top: 0%;
   padding-top: 2.5%;
   margin-bottom: 0%;
   margin-top: 0%;
   text-align: center;
}

.hoverContainerPast{
   text-align: center;
   font-size: 90%;
}

.hoverContainerYear{
   
   font-size: 82.5%;
   text-align: center;
}

.hoverContainerPastPercentage{
   font-weight: bold;
   text-decoration: underline;
}

.hoverContainerTrend{
   text-align: center;
   font-size: 75%;
   margin-left: 10%;
   margin-right: 10%;
}

.hoverContainerBotCaption{
   font-size: 45%;
   text-align: center;
   transition: 0.5s;
}

.hoverContainerBotLink:hover{
   color: blue;
   transition: 0.5s;
}

.triangle{
   width: 0;
   height: 0;
   border-left: 45px solid transparent;
   border-right: 45px solid transparent;
   margin-left: 32%;
   position: absolute;
   top: -7%;
}

.important{
   color: #08450b
}

#citesources{
   margin-left: 8%;
   margin-right: 8%;
   font-size: 125%;
   margin-bottom: 5%;
}

.extra{
   display: flex;
   margin-left: 8%;
}

.plus{
   background-color: white;
 
   border-radius: 100%;
   padding: 1%;
   font-size: 190%;
   -webkit-user-select: none;
   transition: 0.5s;
}

.plus:hover{
   transform: rotate(-180deg);
   cursor: pointer;
   color: green;
   transition: 0.5s;
   margin-right: 2.5%;
   
}

.extraName{
   font-size: 175%;
   padding-top: 1.6%;
   margin-left: 2.5%;
}

.ref{
   margin-top: 0%;
   margin-left: 2%;
   font-size: 110%;
   margin-right: 2%;
}

.i{
   margin-left: 10%;
   border-left: 2px dotted green;
   margin-right: 8.5%;
   display: none;
}

.extra{
   margin-top: 0;
}

#bottom{
   width: 100%;
   padding-top: 3%;
   background-color: darkgreen;
   margin-top: 3%;
}

.grade:hover{
   background-color: orange;
   color: white;
   cursor: pointer;
   transition: 0.25s;
}

.prevalenceOfUse:hover{
   background-color: skyblue;
   color: white;
   transition: 0.25s;
   cursor: pointer;
}

#websiteTitle{
   color: white;
   font-weight: bold;
   font-size: 200%;
   margin-left: 10%;
   margin-bottom: 5%;
   text-decoration: none;
}

#circularPhoto{
   border-radius: 50%;
   margin-left: 10%;
   width:7.5%;
   height: 7.5%;
}

#aboutMeDiv{
   width: 70%;
   height: 7.5%;
   margin-left: 2.5%;
}

#aboutme{
   display: flex;
   margin-top: 2.5%;
}

#aboutMeHeader{
   color: white;
   font-size: 165%;
   margin-top: 0;
   padding-top: 0;
   text-decoration: underline;
}

#myDescription{
   color: white;
   font-size: 125%;
   margin-top: 0;
   padding-top: 0;
}

#contactInfo{
   margin-left: 10%;
   font-size: 125%;
   color: white;
}

.bottomlinks{
   text-decoration: underline;
   color: white;
}

/*footer*/

#bottomHeaderLinkMain{
    color: white;
    font-size: 3.25vw;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0.2%;
    font-weight: bold;
}

#bottomHeaderLinkSub{
    color: white;
    margin-top: 0;
    font-size: 1.75vw;
    font-style: italic;
    opacity: 0.8;
    margin-bottom: 0;

}

#bottomHeaderLink{
    color: white;
    text-decoration: none;
}

#bottomHeaderLinkHolder{
 
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

#footer{
    background-color: darkgreen;
    margin-top: 5%;
}

#footerMissionStatement{
    color: white;
    font-size: 125%;
    opacity: 0.8;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1%;
}

#bottomNavigationLinkHolders{
    display: flex;
    margin-top: 4%;
    padding-bottom: 4%;
}

#contactDiv{
    margin-left: 15vw;
    width: 30%;
    margin-right: 2.5%;
    border-right: 1px solid gray;
    
}

#quickLinkDiv{
    margin-left: 2.5%;

    margin-right: 10%;
    margin-top: 0;
}

#contact{
    font-size: 2.25vw;
    color: white;
    text-decoration: underline;
    padding-left: 5%;
    border-left: 2px solid white;
    margin-top: 0;
    padding-top: 0;
    opacity: 0.85;
}

#quickLinks{
    font-size: 2.25vw;
    color: white;
    text-decoration: underline;
    padding-left: 3%;
    border-left: 2px solid white;
    margin-top: 0;
    padding-top: 0;
    opacity: 0.85;
}

#contactInfo{
    font-size: 1.25vw;
    color: white;
    opacity: 0.7;
}

.bottomQuickLinks{
    opacity: 0.7;
    color: white;
}

a{
    color: white;
}

#copyrightDiv{
    font-size: 125%;
    background-color: grey;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
